<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
        <!--THE PICTURE AND NAME -->
        
        
            <a class="post post--preview-link staff">  
              <div class="row">
                <div class="one-column col-xs-6 col-md-7 col-lg-6">
                  <div class="image-container image-container--max image--border-hover">
                    <%= image_tag @user.avatar.url(:medium), class: 'avatar' %>
                  </div>
                </div>
                
                <div class="one-column col-xs-6 col-md-5 col-lg-6">
                  <%= @user.name %>
                </div>
              </div>
            </a>
            
            
            
            
          <!--HELLO HELLO ITS DONE  -->
            
      </h1>
    </section>
    
    <section>
      <%= link_to "Edit Profile", edit_user_path %>  
    </section>
    
    <section>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
    
  </aside>
  
  
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
  
</div>