<li id="micropost-<%= micropost.id %>">
 
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
  </span>
  
  <span class="content">
    <%= micropost.content %>
  </span>
  </br>
  
  <span class = "content">
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  
  </br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
    
  </span>
  </br>
  <spa>
   <%= link_to "upvote", like_micropost_path(micropost), method: :put %>
  </spa>
  <spa>
   <%= micropost.get_upvotes.size %>
  </spa>
  
  
  <%= render :partial => micropost.comments %>
  
  <%= simple_form_for [micropost, Comment.new] do |f| %>
  <div >
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
    <%= f.submit "Add Comment", class: "btn btn-primary" %>
  <% end %>
  
</li>