<head>
	

</head>


<!--THE REAL STUFFF-->

<div class="header-fixed header-down">
<div class="container">
	<!-- Navigation section -->
					<nav class="z-nav">
				    	
				        
				        <ul >
				        <!--THE LOGIC  -->
				          <% if logged_in? %>
    				        	<li class="z-nav__item">
    				        		<%= link_to "Home", root_url , :class => 'z-nav__link z-nav__link--simple current-position' %>
    				        		<%= link_to "Sign out", logout_path, method: "delete", :class => 'z-nav__link z-nav__link--simple current-position' %>
    				        		<%= link_to "All People", users_path, :class => 'z-nav__link z-nav__link--simple current-position' %>
    				        		
    				        		
    				        		<%= form_tag(users_path, :method => "get", id: "search-form") do %>
									  <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
									  <%= submit_tag "Search", :name => nil %>
									<% end %>
    				        		
    				        	</li>
                  		  <% else %>
    				        	<li class="z-nav__item">
    				        		<%= link_to "Sign in", login_path, :class => 'z-nav__link z-nav__link--simple current-position' %>
    				        	</li>
    				      <% end %>
    				    <!--THE LOGIC  -->

				        </ul>
				        
				        
				        
				    </nav>
	<!-- end navigation section -->
</div>
</div>



